In [7]:
import pandas as pd


df = pd.read_csv("Predictions.csv")

df_train = pd.read_csv("Train.csv")

df_rankings = pd.read_excel("Rankings.xlsx")

df_rankings

     TeamID         Team  Rank
0         1       Austin   NaN
1         2  Baton Rouge   NaN
2         3    Charlotte   NaN
3         4     Colorado   NaN
4         5        Dover   NaN
..      ...          ...   ...
160     161       Norway   NaN
161     162     Portugal   NaN
162     163       Serbia   NaN
163     164        Spain   NaN
164     165       Sweden   NaN

[165 rows x 3 columns]